/classroom/ApiRequest/nbproject/private/
/classroom/ApiRequest/build/
/classroom/JasperReport/nbproject/private/
/classroom/bobs/nbproject/private/
/classroom/DemoChart/nbproject/private/
/classroom/DemoChart/build/